<!doctype html>
<html>
	<head>
		<title>entry task</title>
		<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
	</head>
	<body>
		<form method="post" action="/login">
			<input type="edit" name="username" id="username">
			<input type="password" name="password" id="password">
			<input type="submit">
		</form>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" name="file" id="file" >
			<input type="submit">
		</form>
	</body>
</html>

