<!doctype html>
<html>
	<head>
		<title>entry task</title>
		<script type="text/javascript" src="/static/js/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="/static/js/index.js"></script>
	</head>
	<body>
		<div>Hi USERNAME</div>
		<div><a href="/logout">Logout</a></div>
		<div>Profile Image</div>
		<img src="/static/profile/PROFILEIMG" width=320 height=320/>
		<form method="post" action="/upload" enctype="multipart/form-data">
			<input type="file" name="file" id="file" >
			<input type="submit">
		</form>
	</body>
</html>

